/* ----- declaring CSS variables ---------- */
:root {
  --main-bg-color: rgba(255, 255, 0, 0.364);
  --buttons-bg-color: #1a1a1a;
  --bg-color: rgba(2,0,36,1);
  --main-details-color: rgba(255, 0, 0, 0.852);
  --normal-font-color: rgba(255, 255, 255, 0.87);
  --button-hover: #535bf2;
}

/* ---------------- all elements ---------------- */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;

  /* background: linear-gradient(110deg, var(--button-hover) 0%,  rgba(2,0,36,1) 10% 92%, var(--button-hover) 100%); */
  background: var(--bg-color);

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


/* ---------- universal elements ---------------- */

header {
  top: 0;
  background-color: var(--buttons-bg-color);
  z-index: 1;
}

body {
  margin: 0;
  margin-top: -1rem;

}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

header{
  position: sticky;
  /* width: 1280px; */
}

main{
  margin-top: 0.8rem;
  border:0.1rem solid var(--main-details-color); 
  padding: 0 2rem;
  /* animation-duration: 2s;
  animation-name: fadein; */
}

/* @keyframes fadein {
  0% { 
    opacity: 0; 
    
  }
  100% { opacity: 1; }
} */

/* .hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
} */

ul {
  list-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;
}

p {
  padding-bottom: 0.2rem;
}


a {
  font-weight: 500;
  text-decoration: inherit;
  display: flex;
  justify-content: center;
}

a:hover {
  color: var(--button-hover);
}

a.active {
  color: var(--button-hover);
  border-color: #646cff;
}

h1 {
  font-size: 1.4rem;
  color: var(--main-details-color);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color:var(--buttons-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
  color: var(--button-hover);
}

section ul .about-title:not(:first-of-type) {
  padding-top: 0.3rem;
}

article .image-holder {
  z-index: 2;
}

.image-holder {
  display: flex;
  justify-content: center;
}


/* --- selecting picture I (bacen) --- */
article .image-holder:first-of-type img {
  height: 25rem;
  width:  50rem;
}

/* --- selecting graphs I and II --- */
article .image-holder:nth-of-type(2) img, article .image-holder:nth-of-type(4) img {
  height: 35rem;
  width: 45rem;
}

/* --- selecting tables I and II --- */
article .image-holder:nth-of-type(3) img, article .image-holder:nth-of-type(5) img {
  height: 40rem;
  width: 40rem;
}



/* -------------------- classes ------------------------- */

.de-facto-li {
  padding-left: 2.5rem;
  margin-top: -0.8rem;
}


/* -- gross amendment start -- */
/* amendment made because the page shifters are (at least temporarily) not buttons anymore  */
.page-shifter {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.page-shifter:hover {
  border-color: #646cff;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 2rem;
  /* background-color: var(--main-bg-color); */
}

/* -- gross amendment end -- */

@media (max-width: 480px) {
  
  #root {
    padding: 0;
  }

  main {
    padding: 0 0.5rem;
  }

  #menu {
    display: initial;
  }

  button {
    padding: 0;
    display: block;
    width: 100vw;
  }

  .page-shifter {
    padding: 0;
  }

  /* --- selecting picture I (bacen) --- */
  article .image-holder:first-of-type img {
    height: 16.5em;
    width:  23rem;
  }

  /* --- selecting graphs I and II --- */
  article .image-holder:nth-of-type(2) img, article .image-holder:nth-of-type(4) img {
    height: 22rem;
    width: 22rem;
  }

  /* --- selecting tables I and II --- */
  article .image-holder:nth-of-type(3) img, article .image-holder:nth-of-type(5) img {
    height: 27rem;
    width: 22rem;
  }

}
